#rocket
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  visibility: hidden;
  width: 42px;
  height: 43px;  
  opacity: 0;
  border-radius: 50%;  
  border: 2px solid rgb(64, 64, 64);
  padding: 2px;
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  @media mq-mobile
    right: 12px;
    bottom: 20px;

#rocket.show {
  visibility: visible;
  opacity: 1; }

#rocket.launch {
  background-position: 50% -44px;
  opacity: 0;
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
  pointer-events: none; }
